/* Reset básico para maior consistência */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #000; /* Fundo escuro como no Spotify */
  color: #fff; /* Texto branco para contraste */
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

button {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}
